<footer class="footer">

<div class="footer-follow">

<h3>Follow Jimin</h3>

<div class="follow-wrapper">

<button class="follow-arrow left">
<i class="fa-solid fa-chevron-left"></i>
</button>

<div class="follow-slider" id="followSlider">

<a href="https://www.instagram.com/j.m" class="follow-item">
<i class="fa-brands fa-instagram"></i>
<span>Instagram</span>
</a>

<a href="https://open.spotify.com/artist/1oSPZhvZMIrWW5I41kPkkY" class="follow-item">
<i class="fa-brands fa-spotify"></i>
<span>Spotify</span>
</a>

<a href="https://music.apple.com/us/artist/jimin/1620160561" class="follow-item">
<i class="fa-brands fa-apple"></i>
<span>Apple Music</span>
</a>

<a href="https://youtube.com/channel/UCE6l2NHQkpgF_P96isfOu4Q" class="follow-item">
<i class="fa-brands fa-youtube"></i>
<span>YouTube</span>
</a>

<a href="https://www.billboard.com/artist/jimin/" class="follow-item">
<i class="fa-solid fa-chart-line"></i>
<span>Billboard</span>
</a>

<a href="https://www.officialcharts.com/artist/64079/jimin/" class="follow-item">
<i class="fa-solid fa-ranking-star"></i>
<span>Official Chart UK</span>
</a>

</div>

<button class="follow-arrow right">
<i class="fa-solid fa-chevron-right"></i>
</button>

</div>

</div>


<div class="footer-info">

<p>This is a fan-made website. Not affiliated with HYBE or BTS</p>
<p>© 2026 Jimination Website</p>

</div>

</footer>
